<p id="notice"><%= notice %></p>

<h1>Favoritess</h1>

<% @favorites.each do |blog| %>

<div class="row">
  <div class="col-md-offset-4">
    <%if blog.blog.user.image.url%>
    <%= image_tag blog.blog.user.image.url, class: "", width: "100px"%>
    <span class="float-end"><%= blog.blog.user.name.upcase %></span>
    <%else%>
    <p></p>
    <%end%>
  </div>
</div>

<div class="row">
  <div class="container-fluid">
    <%if blog.blog.image.url%>
    <%= image_tag blog.blog.image.url, class: "card-img-top", height: "300px"%>
    <h5 class="card-title"><%= blog.blog.title %></h5>
    <p class="card-text"><%= blog.blog.content %></p>
    <%end%>
  </div>
</div>

<%= link_to 'Show', blog, class: "btn btn-primary text-light" %>

<%if blog.blog.user==current_user %>

  
    <%= link_to 'Edit',
   edit_blog_path(blog), class: "btn btn-warning text-dark" %>
  
 
   <%= link_to 'Delete', blog, method: :delete, data: { confirm: 'Are you
   sure?' }, class: "btn btn-danger text-light" %>
 
 <% else %>
 <p></p>
 <% end %>
 <%end%>